<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: bootstrap">
    <meta charset="UTF-8">
    <title th:text="#{clientes}">Clientes</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>

<div id="contenedora" class="container-fluid" style="float:none; margin: 0 auto;width: 95%;" >
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{clientes}"></h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

            <div style="position: absolute; left: 39%; top : 39%;">

                <form action="/clientes/crear" method="get">
                    <input class="btn btn-primary" type="submit" th:value="#{crear}">
                </form>

            </div>
            <div style="position: absolute; left: 50%; top : 39%;">

                <form action="/" method="get">
                    <input class="btn btn-primary" type="submit" th:value="#{volver}">
                </form>

            </div>


        </div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div th:text="#{id}" style="float: left;width: 14%"></div>
        <div th:text="#{nombre}" style="float: left;width: 14%"></div>
        <div th:text="#{apellido1}" style="float: left;width: 14%"></div>
        <div th:text="#{apellido2}" style="float: left;width: 14%"></div>
        <div th:text="#{ciudad}" style="float: left;width: 14%"></div>
        <div th:text="#{categoria}" style="float: left;width: 14%"></div>
        <div th:text="#{email}" style="float: left;width: 14%"></div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <div  th:class="row" th:each="cliente : ${listaClientes}" style="margin-top: 6px; align-items: center" class="clearfix">
        <div style="float: left;width: 14%" th:text="${cliente.id}"></div>
        <div style="float: left;width: 14%" th:text="${cliente.nombre}"></div>
        <div style="float: left;width: 14%" th:text="${cliente.apellido1}"></div>
        <div style="float: left;width: 14%" th:text="${cliente.apellido2 ?: '&nbsp;'}"></div>
        <div style="float: left;width: 14%" th:text="${cliente.ciudad}">ciudad</div>
        <div th:class="col" style="float: left;width: 14%" th:text="${cliente.categoria}"></div>
        <div th:class="col" style="float: left;width: 14%" th:text="${cliente.email}"></div>
        <div th:class="col" style="float: none;width: auto;overflow: hidden;">
            <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{ver_detalle}" />
            </form>
            <form th:action="@{/clientes/editar/}+${cliente.id} " style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{editar}" />
            </form>
            <form th:action="@{/clientes/borrar/}+${cliente.id} " method="post" style="display: inline;">
                <input class="btn btn-danger" type ="submit" th:value="#{eliminar}" />
            </form>
        </div>
    </div>
</div>
</body>
</html>